{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- Images used to open the lightbox -->
 <div class="row">
  <div class="column">
    <img src="{% static 'img/rvent1.jpg' %}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/rvent2.jpg' %}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/rvent3.jpg' %}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/rvent4.jpg' %}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{% static 'img/rvent1.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{% static 'img/rvent2.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{% static 'img/rvent3.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{% static 'img/rvent4.jpg' %}" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="column">
      <img class="demo" src="{% static 'img/rvent1.jpg' %}" style="width:100%" onclick="currentSlide(1)" alt="Nature">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/rvent2.jpg' %}" style="width:100%" onclick="currentSlide(2)" alt="Snow">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/rvent3.jpg' %}" style="width:100%" onclick="currentSlide(3)" alt="Mountains">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/rvent4.jpg' %}" style="width:100%" onclick="currentSlide(4)" alt="Lights">
    </div>
  </div>
</div> 


<div class="card-info">
  <h2>Attic</h2>
  <p> The attic, my absolute favorite place in the house. My bar mitzvah was held in one, my kids were born there and coincidentally are still up there... If you don't have one consider yourself lucky and roll on but if you do look at your roof...i'll wait..ok, see those turtle looking things? Most likely those will be your vent covers or you have turtles on your roof and need help. Poke your head up in the attic and check the screens that are under the covers. If there is a hole fix it..duh. Anything else going out the roof is a potential access point (sewer exhaust,furnace exhaust, attic fans, your stupid face, ect..) so check the edges and foam it up! foam! foam! foam! If you didn't die or burn down your house move on to the next page. </p>
</div>

  <!-- JS for lightbox -->
<script>
  // Open the Modal
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  // Close the Modal
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  let slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>

<!-- pagination -->
<div class="pagination">
  <a href="{% url 'gallery' %}">&laquo;</a>
  <a href="{% url 'gallery' %}">1</a>
  <a class="active" href="{% url 'gallery2' %}">2</a>
  <a href="{% url 'gallery3' %}">3</a>
  <a href="{% url 'gallery4' %}">4</a>
  <a href="{% url 'gallery5' %}">5</a>
  <a href="{% url 'gallery6' %}">6</a>
  <a href="{% url 'gallery3' %}">&raquo;</a>
</div>

{% endblock %}