{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- Images used to open the lightbox -->
 <div class="row">
  <div class="column">
    <img src="{% static 'img/vent1.jpg' %}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/vent2.jpg' %}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/vent3.jpg' %}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/vent4.jpg' %}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{% static 'img/vent1.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{% static 'img/vent2.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{% static 'img/vent3.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{% static 'img/vent4.jpg' %}" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="column">
      <img class="demo" src="{% static 'img/vent1.jpg' %}" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/vent2.jpg' %}" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/vent3.jpg' %}" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/vent4.jpg' %}" style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
  </div>
</div> 

<div class="card-info">
  <h2>Foundation Vent Screens</h2>
  <p>Foundation vents are those little screens on the foundation of your house for regulating air flow to prevent moisture build up in the crawlspace...says some book (and who reads those?). What they are really there for is to give rodents free access to your nasty crawlspace that you didn't even know existed until now. Most of the time when a rodent gets into a house, it is because of a compromised vent screen left behind by a lazy plumber or cable guy. </p>
  <p>Fixing vents screens is pretty easy (depending where they are located). If there is a vent under a deck or hidden behind a thorny bush, I salute you for your commitment. The vent screens NEED to be 1/4" mesh and not any bigger. Some houses can have 1/2" mesh and they might as well not have any. Rodents can squeeze their body through a hole the size of their heads! Mesh is sold at most hardware stores under the alias hardware cloth. Don't be fooled you will not be knitting a scarf with this stuff...if used without gloves and tin snips it will eat your lunch. If the screen needs to be completely replaced cut the screen a bit bigger than the opening of the vent screen frame and shove it in (cut a square as close as possible to pipes). Caulk the edges with your favorite glue, I prefer the taste of liquid nails. If there is a pipe going the screen shove some steal wool around it and seal it in with some expanding foam. So easy right?</p>
</div>

  <!-- JS for lightbox -->
<script>
  // Open the Modal
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  // Close the Modal
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  let slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>

<!-- pagination -->
<div class="pagination">
  <a href="">&laquo;</a>
  <a class="active" href="{% url 'gallery' %}">1</a>
  <a href="{% url 'gallery2' %}">2</a>
  <a href="{% url 'gallery3' %}">3</a>
  <a href="{% url 'gallery4' %}">4</a>
  <a href="{% url 'gallery5' %}">5</a>
  <a href="{% url 'gallery6' %}">6</a>
  <a href="{% url 'gallery2' %}">&raquo;</a>
</div>

{% endblock %}