{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- Images used to open the lightbox -->
 <div class="row">
  <div class="column">
    <img src="{% static 'img/roof1.jpg' %}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/roof2.jpg' %}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/roof3.jpg' %}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/roof4.jpg' %}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{% static 'img/roof1.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{% static 'img/roof2.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{% static 'img/roof3.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{% static 'img/roof4.jpg' %}" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="column">
      <img class="demo" src="{% static 'img/roof1.jpg' %}" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/roof2.jpg' %}" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/roof3.jpg' %}" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/roof4.jpg' %}" style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
  </div>
</div> 

<div class="card-info">
  <h2>Roof Lines</h2>
  <p>Roof lines...if you have issues here I suggest getting a professional to take care of them, if not ill show you some common places to look. If you live in the great NW (or other places too but who cares) some of the older homes have a gap above the facia board used for "ventilation". Apparently 100 years ago they didn't have roof rats or squirrels around because they we're too busy eating them (depression and all that). If you notice droppings or insulation around a certain spot, that is a good indication of rodent activity.  </p>
  <p>Fixing roof line issues can be tricky especially if you have a steep roof line or a roof line that is too tall. Use your better judgement. Wedging screen is your best bet for dormers and compound angles and sealing it in with expanding foam. Gaps in the facia will need some serious attention. Having a contractor replace the facia board to completely eliminate the gap is a sure fire way to fix this issue. </p>
</div>

  <!-- JS for lightbox -->
<script>
  // Open the Modal
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  // Close the Modal
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  let slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>

<!-- pagination -->
<div class="pagination">
  <a href="{% url 'gallery2' %}">&laquo;</a>
  <a href="{% url 'gallery' %}">1</a>
  <a href="{% url 'gallery2' %}">2</a>
  <a class="active" href="{% url 'gallery3' %}">3</a>
  <a href="{% url 'gallery4' %}">4</a>
  <a href="{% url 'gallery5' %}">5</a>
  <a href="{% url 'gallery6' %}">6</a>
  <a href="{% url 'gallery4' %}">&raquo;</a>
</div>

{% endblock %}