{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- Images used to open the lightbox -->
 <div class="row">
  <div class="column">
    <img src="{% static 'img/garage1.jpg' %}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/garage2.jpg' %}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/garage3.jpg' %}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'img/garage4.jpg' %}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{% static 'img/garage1.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{% static 'img/garage2.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{% static 'img/garage3.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{% static 'img/garage4.jpg' %}" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="column">
      <img class="demo" src="{% static 'img/garage1.jpg' %}" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/garage2.jpg' %}" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/garage3.jpg' %}" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>

    <div class="column">
      <img class="demo" src="{% static 'img/garage4.jpg' %}" style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
  </div>
</div> 

<div class="card-info">
  <h2>Garage</h2>
  <p> The garage... a lot of you may not know this but a garage is for cars, tools, and lawnmowers, not chickens. First things first check the doors of your garage. See a gap under the man sized door or see some light under the main door? Yes? Then your problem is hiking right thought the door. Most homes have the furnace and water heater in the garage which give direct access to the crawlspace. The furnace, for example, has something called a plenum (the tin box the furnace sits on) and this is where all the ducting comes together. When installing a plenum a hole is cut directly into the cement slab of the garage and a gap is left around it.</p>
  <p>The furnace can be fixed by placing a 1x2 or a piece of 2x4 (that's wood) behind the plenum and just leaving it there. Sometimes it takes a giant wedge of screen and foam. The water heater and other pipes penetrating the wall need some steel wool or copper with expanding foam locking it in. For the door screw on a door sweep from a hardware store will do the trick and for the main garage door buying a new gasket for the bottom every 5 years with keep the pests out. For the try hards there is a gasket with steel wool glued to the center to prevent chewing (from rodents not your kids).  </p>
</div>

  <!-- JS for lightbox -->
<script>
  // Open the Modal
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  // Close the Modal
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  let slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>

<!-- pagination -->
<div class="pagination">
  <a href="{% url 'gallery3' %}">&laquo;</a>
  <a href="{% url 'gallery' %}">1</a>
  <a href="{% url 'gallery2' %}">2</a>
  <a href="{% url 'gallery3' %}">3</a>
  <a class="active" href="{% url 'gallery4' %}">4</a>
  <a href="{% url 'gallery5' %}">5</a>
  <a href="{% url 'gallery6' %}">6</a>
  <a href="{% url 'gallery5' %}">&raquo;</a>
</div>

{% endblock %}