{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Welcome!</h1>
<div class="home-about">
    <div class="home-info">    
        <h3>Why are you here?</h3>    
        <h4>You're here because you have pests running up and down your walls, droppings everywhere, and a smell so bad that it could knock a buzzard off sh!t waggon... and that's just your kids. I can't solve that problem but I can walk you through the rodent issue that you've been ignoring for the past 3 years and save you a ton of money! You might just have to get your hands dirty (sounds like you might be  use to that by now).</h4>
    </div>

    <div class="home-info2">    
        <h3>About</h3>    
        <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias esse ipsa quo, rerum accusantium nisi laudantium, nulla, a magnam mollitia tenetur quibusdam nobis molestiae unde repellendus quisquam eaque asperiores dolor.</h4>
    </div>
</div>


<!--
<img src="{% static 'img/background.jpg' %}" height="420" width="800">
-->
{% endblock %}
